node_modules/
dist/
dist-ssr/
*.local
.DS_Store
.env
.env.*
!.env.example
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.android/
.ios/

# Capacitor
.capacitor/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build
*.tsbuildinfo

# OS
Thumbs.db

# Local env
.env.local
